*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
}
div{
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	margin-top: 20%;
}
div:first-of-type{
	position: absolute;
	background-color: #000;
	animation-name: col1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
div:last-of-type{
	position: absolute;
	background-color: #FF9900;
	animation-name: col2;
	animation-duration: 0.5s;	
	animation-iteration-count: infinite;
}
@keyframes col1{
	from{
		left: 48%;
		background-color: #000;
	}
	to{
		left: 49%;
		background-color: #FF9900; 
	}
}
@keyframes col2{
	from{
		background-color: #FF9900;
		left: 49%;
	}
	to{
		background-color: #000;
		left: 48%;
	}
}